{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="s12 m4">
            <h2>{{ plant.plant_name }}</h2><br>
            <p> {{ plant.plant_description }}</p><br>
            <p>{{ plant.plant_tips}}</p><br>
            <p> {{ plant.plant_more_info }}</p><br>
        </div>
        <!--submit/return/delete btn-->
        <div class="row center">
            <a class="btn waves-effect waves-light space teal darken-4" href="{{ url_for('edit_plant', plant_id=plant._id) }}">Edit <i class="fas fa-paper-plane"></i></a>
            <a class="btn waves-effect waves-light space teal pink lighten-1" href="{{ url_for('delete_plant', plant_id=plant._id) }}">Delete <i class="fas fa-eraser"></i></a>
            <a class="btn waves-effect waves-light space teal darken-4" href="{{ url_for('index') }}">Return <i class="fas fa-home"></i></a>
        </div>
    </div>
</div>

{% endblock %}