html{
    position:relative;
}

html,
body{
    min-height: 100vh; 
}
body {
    display: flex;
    /*min-height: 100vh;*/
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*------------sticky footer*/
footer{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
}

h6{
    color:#fff;
}

.last-section{
    margin-bottom: 120px;
}
/*-------navbar*/
.logo{
    border-radius: 50%;
    margin-top: 4px;
    margin-left:1em;;
}


.side-nav-style{
    margin-top: 52px;
    
}

/*--------------sticky navbar*/
.sticky-top {
    position: fixed;
    top: 0;
    left:0;
    z-index: 1020;
    width: 100%;
}



/*----------------carousel*/
.carousel-container{
    height: 450px;
}

.place-image {
    height: 500px; 
    width: 500px; 
    object-fit:cover;
}

/*--------------media queries*/
 @media screen and (max-width: 620px){
     .mobile-view{
         display:none;
     }
 }


