{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--header-->
    <div class="row s12 m7 text-center custom-all-plants-header">
        <h5>Add Your Plant</h5>
    </div>
    <!--add plant form-->
    <div class="row">
        <form class="col s12" method="POST" action="">
            <!--category_name-->
            <div class="row">
                <select id="category_name" class="validate" name="category_name" required>
                    <option value="" disabled selected>Choose Plant Category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">
                            {{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Plant Category</label>
            </div>
            <!--plant_img-->
            <!--plant_name-->
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" id="plant_name" name="plant_name" type="text"
                    minlength="3" maxlength="60" required>
                    <label for="plant_name">Plant Name</label>
                    <span class="helper-text" data-error="Please enter correct name." data-success="Correct Name.">Enter plant name between 3 and 60 characters</span>
                </div>
            </div>
            <!--plant_on_wish_list-->
            <div class="col s12 input-field">
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                        Do you want to add plant to wish list?
                    </label> 
                </div>
            </div>
            <!--plant_description-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="plant_description" class="materialize-textarea" name="plant_description"  minlength="3" data-length="2500" required ></textarea>
                    <label for="plant_description">Plant Description</label>
                    <span class="helper-text" data-error="Please enter plant description." data-success="Correct Name.">Enter plant description.</span>
                </div>
            </div>
            <!--plant_place sun/shade etc.-->
            <div class="row">
                <div class="row row s12 m7 text-center">
                    <a class='dropdown-trigger btn waves-effect waves-light teal darken-4 ' href='#' data-target="plant_place" name="plant_place">Plant Place</a>
                        {% for place in places %}
                            <ul id="plant_place" class='dropdown-content'>
                                <li><a href="#!"><i class="far fa-sun"></i>Sun</a></li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#!"><i class="fas fa-sun"></i>Partial-Sun</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li>
                                    <a href="#!"><i class="fas fa-cloud-sun"></i>Partial-Shade</a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li> 
                                    <a href="#!"><i class="fas fa-cloud"></i>Shade</a>
                                </li>
                            <ul>
                        {% endfor %}                  
                </div>
            
            </div>
            <!--plant_tips-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="plant_tips" class="materialize-textarea" name="plant_tips" data-length="2500" required ></textarea>
                    <label for="plant_tips">Plant Tips</label>
                    <span class="helper-text" data-error="Please enter your tips." data-success="Correct Name.">Here you can add some tips for this plant.</span>
                </div>
            </div>
            <!--plant_more_info-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="plant_more_info" class="materialize-textarea" name="plant_more_info" data-length="1000"></textarea>
                    <label for="plant_more_info">More Info About Plant </label>
                    <span class="helper-text" data-error="Please enter your tips." data-success="Correct Name.">This space is for additional links. Remember to hit enter after each link:)</span>
                </div>
            </div>
            <!--plant_notes-->
            <!--submit btn-->
            <div class="row center">
                <button class="btn waves-effect waves-light teal darken-4 " type="submit" >Submit <i class="fas fa-paper-plane"></i>
                </button>
            </div>
            

        </form>
    </div>
</div>
{% endblock%}