{% extends "base.html" %}
{% block content %}
   
<!--page with all categories and search box by plants place-->
<div class="container ">
    <div class="row s12 m7 text-center custom-all-plants-header">
        <h5>Here you can browse our databse and read about some plants.</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <form class="col s12" method="POST" action="">
            <select id="plant_place" class="validate" name="plant_place" required>
                <option value="" disabled selected>Choose from our four plant places.</option>
                {% for place in places %}
                    <option value="{{ place.plant_place }}">
                        {{ place.plant_place }}</option>
                {% endfor %}
            </select>
            <label for="plant_place"></label>
        </form>
    </div>
</div>
<div class="containeer">
    <div class="row">
        <!--add serch fileld-->
    </div>
</div>
</div>
<div class="container">  
    <div class="row ">
        <!--Flowers-->
        <div class="col s12 m6 l4">
            <div class="card small ">
                <div class="card-image">
                    <img src="/static/img/african_daisy_k_mackinnon_unsplash.png" alt="african daisy k.mackinnon unsplash">
                </div>
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Flowers</span></a>
                </div>
            </div>
        </div>
        <!--Herbs-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/dill-s-sundar-cs-unsplash.png" alt="dill s.sundar cs unsplash">
                </div>
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Herbs</span></a>
                </div>
            </div>
        </div>
        <!--Fruits-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/strawberries-j-tang-unsplash.png" alt="strawberries j tang unsplash">
                </div>
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Fruits</span></a>
                </div>
            </div>
        </div>
        <!--Shrubs-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/boxwood-c-bisbo-johnsen-unsplash.png" alt="boxwood c bisbo johnsen unsplash">
                </div>
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Shrubs</span></a>
                </div>
            </div>
        </div>
        <!--Climbers-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/clematis-j-ronberg-unsplash.png" alt="clematis j ronberg unsplash">
                </div> 
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Climbers</span></a>
                </div>
            </div>
        </div>
        <!--Trees-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/magnolia-f-fistarol-unsplash.png" alt="magnolia f fistarol unsplash">
                </div>
                <div class="card-action center-align card-title">
                    <a href="#"><span class="green-text">Trees</span></a>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
