{% extends "base.html" %}
{% block content %}
   
<!--page with all categories and search box by plants place-->
<div class="container ">
    <div class="row s12 m7 text-center custom-all-plants-header">
        <h5>Here you can browse our databse and read about some plants.</h5>
    </div>
</div>
<div class="container">  
    <div class="row ">
        <div class="col s12 m6 l4">
            <div class="card ">
                <!--Flowers-->
                <div class="card-image small">
                    <img src="/static/img/african_daisy_k_mackinnon_unsplash.png">
                </div>
                <div class="card-title "></div>
                <h5 class="center-align">Flowers</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
        <!--Herbs-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/dill-s-sundar-cs-unsplash.png">
                </div>
                <div class="card-title"></div>
                <h5 class="center-align">Herbs</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
        <!--Fruits-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/strawberries-j-tang-unsplash.png">
                </div>
                <div class="card-title"></div>
                <h5 class="center-align">Fruits</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
        <!--Shrubs-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/boxwood-c-bisbo-johnsen-unsplash.png">
                </div>
                <div class="card-title"></div>
                <h5 class="center-align">Shrubs</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
        <!--Climbers-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/clematis-j-ronberg-unsplash.png">
                </div>
                <div class="card-title"></div>
                <h5 class="center-align">Climbers</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
        <!--Trees-->
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="/static/img/magnolia-f-fistarol-unsplash.png">
                </div>
                <div class="card-title "></div>
                <h5 class="center-align">Trees</h5>
                <div class="card-action center-align">
                    <a href="#"><span class="green-text">This is a link</span></a>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
