{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--header-->
    <div class="row s12 m7 text-center custom-all-plants-header">
        <h1>Edit Plant</h1>
    </div>
    <!--add plant form-->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_plant', plant_id=plant_id) }}">
            <!--category_name-->
            <div class="row">
                <select id="category_name" class="validate" name="category_name" required>
                    <option value="" disabled selected>Choose Plant Category</option>
                    {% for category in categories %}
                        {% if category.category_name == plant.plant_name %}
                        <option value="{{ category.category_name }}" selected>
                            {{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">
                            {{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Plant Category</label>
            </div>
            <!--plant_img-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="plant_img">Plant Image</label>
                    <input class="validate" id="plant_img" name="plant_img" type="url" pattern="https://.*" required >
                </div>
                <span class="helper-text" data-error="Please enter correct name." data-success="Correct Name.">Please enter valid link to plant image.</span> 
            </div>
            <!--plant_name-->
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" id="plant_name" name="plant_name" type="text"
                    minlength="3" maxlength="60" required>
                    <label for="plant_name">Plant Name</label>
                    <span class="helper-text" data-error="Please enter correct name." data-success="Correct Name.">Enter plant name between 3 and 60 characters</span>
                </div>
            </div>
            <!--plant_on_wish_list-->
            <div class="row">
                <div class="col s12 input-field">
                    <div class="switch">
                        <label for="plant_on_wish_list">
                            Do you want to add plant to wish list?
                            <input type="checkbox" id="plant_on_wish_list" name="plant_on_wish_list">
                            <span class="lever"></span>
                        </label> 
                    </div>
                </div>
            </div>
            <!--plant_description-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="plant_description" class="validate" type="text" name="plant_description"  minlength="3" data-length="2500" required ></input>
                    <label for="plant_description">Plant Description</label>
                    <span class="helper-text" data-error="Please enter plant description." data-success="Correct Name.">Enter plant description.</span>
                </div>
            </div>
            <!--plant_place sun/shade etc.-->
            <div class="row center">
                <div class="row row s12 m7 text-center">
                    <select id="plant_place" class="validate" name="plant_place" required>
                        <option value="" disabled selected>
                            Choose Plant Place
                        </option>
                        {% for place in places %}
                            <option value="{{ place.plant_place }}">
                                {{ place.plant_place }}</option>
                        {% endfor %}
                    </select>
                    <label for="plant_place">Plant Place</label>              
                </div>
            </div>
            <!--plant_tips-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="plant_tips" class="materialize-textarea" name="plant_tips" data-length="2500" required ></textarea>
                    <label for="plant_tips">Plant Tips</label>
                    <span class="helper-text" data-error="Please enter your tips." data-success="Correct Name.">Here you can add some tips for this plant.</span>
                </div>
            </div>
            <!--plant_more_info-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="plant_more_info" class="materialize-textarea" name="plant_more_info" data-length="1000"></textarea>
                    <label for="plant_more_info">More Info About Plant </label>
                    <span class="helper-text" data-error="Please enter your tips." data-success="Correct Name.">This space is for additional links. Remember to hit enter after each link:)</span>
                </div>
            </div>
            <!--submit/return/delete btn-->
            <div class="row center">
                <a class="btn waves-effect waves-light space teal darken-4" href="{{ url_for('edit_plant', plant_id=plant._id) }}">Edit <i class="fas fa-paper-plane"></i></a>
                <a class="btn waves-effect waves-light space teal pink lighten-1" href="{{ url_for('delete_plant', plant_id=plant._id) }}">Delete <i class="fas fa-eraser"></i></a>
                <a class="btn waves-effect waves-light space teal darken-4" href="{{ url_for('index') }}">Return <i class="fas fa-home"></i></a>
            </div>
            

        </form>
    </div>
</div>
{% endblock%}