{% extends "base.html" %}
{% block content %}

<!--carousel with flower images-->
<!-- I followed by instuctions from https://www.jquery-az.com-->

<div class="carousel carousel-slider" id="carousel-auto" data-indicators="true">
    <a class="carousel-item" href="#one!"><img src="/static/img/colorful-roses-w-brandt-unsplash.jpg" ></a>
    <a class="carousel-item" href="#two!"><img src="/static/img/glaucomas-colorful-z-schaeffer-unsplash.jpg" ></a>
    <a class="carousel-item" href="#three!"><img src="/static/img/yellow-lilies-a-schimmeck-unsplash.jpg" ></a>
</div>


<!---->

{% endblock%}