{% extends "base.html" %}
{% block content %}

<!--carousel with flower images-->
<!-- I followed by instuctions from https://www.jquery-az.com-->

<div class="carousel carousel-slider carousel-container" id="carousel-auto" data-indicators="true">
    <a class="carousel-item place-image" href="#one!"><img src="/static/img/colorful-roses-w-brandt-unsplash.jpg" ></a>
    <a class="carousel-item place-image" href="#two!"><img src="/static/img/glaucomas-colorful-z-schaeffer-unsplash.jpg" ></a>
    <a class="carousel-item place-image" href="#three!"><img src="/static/img/yellow-lilies-a-schimmeck-unsplash.jpg" ></a>
</div>

<div class="container">
    <h3>Plantarium do I really need it?</h3>
    <p>This page is created for all gardening amateurs. Here you can read about plants which are the best for small gardens. If some informations will be interesting for you we provide a more interesting content with links to dive in :) Our page is intuitive for everyonr.You can easly add some interesting plants to your list, edit this list  and delate not essential content from your own database as well.  </p>

    <h3>How it's works?</h3>
    <p>The plant page includes a database with plants images, names, desctriptions, tips and additional links. Dive in to find your favourite plants in our base for sunny, semi-sunny or shade place! </p>

    <p>Add plants page allows you to strore your favourite plants iside your own database. Feel free and create your own, database today:) </p>
</div>



{% endblock%}