<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantarium</title>
</head>
<body>
    {% block content %}
    {% for plant in plants %}
        {{ plant.plant_category }}<br>
        <img src="{{ plant.plant_img }}" alt="{{ plant_name }}" style="height:50px; width: 50px;"><br>
        {{ plant.plant_description }}<br>
        {{ plant.plant_place[0] }}<br>
        {{ plant.plant_flower_time }}<br>
        {{ plant.plant_tips }}<br>
        {{ plant.plant_more_info }}<br>
        {{ plant.plant_notes }}<br>
    {% endfor %}
    {% endblock %}
</body>
</html>